#remo {
    position: absolute;
    top: 61px;
    left: 0;
    width: 200px;
    height: 100px;
    background-image: url(remo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: movimientoRemo 1s infinite linear;

}

#conjunto {
    top: 120px;
    left: 0;
    width: 200px;
    height: 125px;
    background-image: url(gondola.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    animation: movimentoGondola 10s linear;
    animation-fill-mode: forwards;
    z-index: 4;

    height: 200px;
    width: 200px
}

#agua {
    position: absolute;
    top: 252px;
    left: 0;
    width: 100%;
    height: 125px;
    background-image: url(agua.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    z-index: 9;
    animation: movimentoAgua 1s infinite linear;

}

#puente {
    position: absolute;
    top: 91px;
    left: 500px;
    width: 367px;
    height: 391px;
    background-image: url(puente.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;


}

@keyframes movimientoRemo {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(30deg);
    }

    100% {
        transform: rotateZ(0deg);

    }

}

@keyframes movimentoGondola {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1000px);
    }

}