body {
    font-family: 'Jetbrain Mono', monospace;
}

h1 {
    font-family: 'Exo 2', monospace;
    color: #FF3F3F;
    font-weight: bold;
    font-size: 30px;

}

h2 {
    font-family: 'Exo 2', monospace;
    font-weight: bold;
    font-family: 20px;
}

.dot-holder {
    margin-top: 1.5%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.dot {
    display: block;
    width: 20px;
    height: 20px;
    background: #FF3F3F;
    border-radius: 9999px
}

.dot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #FF3F3F;
    border-radius: 9999px
}

.datos-experiencia p,
.datos-experiencia h3 {
    margin: 0;
}

.fecha {
    color: #B4B4B4;
}

ul li {
    list-style: "+";
}

#img {
    width: 50%;
}

@media screen and (min-width: 1000px) {
    #img {
        width: 25%;
    }

    .separador {
        display: none;
    }
}