body {
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    background-color: rgb(255, 255, 255);
}

nav {
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.nav-link {
    font-weight: bold !important;
    font-size: 1.2em !important;
}

button {
    background: transparent;
    border: 0.1rem solid white;
    height: 3rem;
    width: 210px;
    max-width: 100%;
}

button span {
    color: white;
}

.hero {
    margin-top: -80px;
    height: 700px;
    background: rgb(239, 65, 45);
    position: relative !important;
}

h2 {
    color: rgb(239, 65, 45);
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5.1rem;
}

p {
    margin-bottom: 2em;
}

.hero p {
    margin: 0;
}

.hero .row {
    --bs-gutter-x: 0;
}


.bordes {
    border-bottom: 1px solid rgb(239, 65, 45);
    ;
}

.card-body ::marker,
.proyecto ::marker {
    content: "+";
    color: rgb(239, 65, 45);
}

.tiempo {
    margin: 0;
    color: gray;
    font-style: italic;
}

footer {
    background-color: #373737;
    padding: 1em 0em;
}

footer ul {
    list-style: none;
    padding: 0;
}

.bi::before {
    font-size: 30px
}

.proyecto {
    padding: 5em;
    color: white;
}

.proyecto h3 {
    font-family: "Exo 2", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 3rem;
}

.content {
    color: white;
}

.iconos a {
    color: rgb(255 255 255 / 0%);
}

@media screen and (min-width: 991px) {
    .hero {
        background-image: url("../res/bg-pc.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero section {
        display: flex;
        align-items: center;
        justify-content: end;
    }


}

@media screen and (max-width: 991px) {
    .content {
        display: flex;
        background-image: url(../res/bg-movil.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 8.5em;

    }

    .hero section {
        margin-top: 20%;
        display: flex;
        justify-content: center;

    }

    .navbar-collapse {
        margin: 0 -1em;
        background-color: white;
        justify-content: center !important;
        display: flex;
    }


}

@media screen and (max-width: 430px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem !important;
    }
}